/*Global Styles*/
html{
    font-family: Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.4em;
}


/*Header Styles*/
#header{
    background: black;
    color: white;
}

#logo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    font-size: 16px;
    padding: 12px 0 12px 0.5em;
    line-height: 22.4px;
}


#logo img{
    padding-right: 15px;
    height: 1.5em;
}


#banner{
    background-image:url(/resources/images/moto.jpeg);
    height: 25em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

.container{
    margin: 0 auto;
    max-width: 960px;
}

#bannertext{
    padding: 2em 3em;
    background: black;
    color: white;
    width: 20em;
    position: relative;
    top: 9em;
}

h1, h4{
    font-weight: bold;
}

#bannertext h1{
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0.25em 0;
}

/*Navigation*/

#nav{
    background-color: firebrick;
    color: white;
}

#nav .container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.75em 0;
}

#nav a{
    text-decoration: none;
    color: white;
}

#tabletmenu{
    display: none;
}


/*Main Content Styles*/

.products{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.product{
    width: 30%;
    
}


.imgcont{
    border: 4px solid black;
    padding: 2em 0;
    height: 9em;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.product img{
    max-width: 8em;
    border-style: none;
}


.imgtext{
    display: block;
    background: black;
    color: white;
    text-align: center;
    padding: 0.5em;
}


#info{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}


#info div{
    width: 35%;
}


span.infohead{
    background-color: black;
    color: white;
    padding: 1em 2em;
    display: block;
}


#footer{
    
    background-color: black;
    color: white;
    padding: 5em 0;
    margin-top: 4em;
    text-align: left;
}


/*Tablet Media Queries*/

@media only screen and (max-width: 1024px){    
    #bignav, .product:last-child{
        display: none;
    }
    
    #tabletmenu{
        display: block;
        margin: 0 auto;
    }
    
    .product{
        width: 47%;
    }
}

/*Cellular Media Queries*/
@media only screen and (max-width: 470px){
    #banner{
        height: 15rem;
    }
    
    #banner .container{
        width: 100%;
    }
    
    #bannertext{
        top:10rem;
        padding:1rem 2rem; 
        width: 100%;
    }
    
    #bannertext h4{
        font-size: 0.77rem;
        width: 100%;
    }
    
    #bannertext h1{
        font-size: 1rem;
    }
   
    .product:nth-child(2){
        display: none;
    }
    
    .product{
        width: 90%;
        margin: 0 auto;
    }
    
    #info{
        display: block;
    }
    
    #info div{
        width: 90%;
        margin: 0.5rem auto;
    }
    
    #footer{
        text-align: center;
    }  
    
}
